<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css"
  </head>
  <body>
  <img src="/static/img/man-in-suit.jpg" alt="Man in suit" id="banner">
  <section class="section">
    <div class="container">
      <!-- <figure class="image is-128x128">
      </figure> -->
      <h1 class="title">
        Careers
      </h1>
      {% include 'jobitem.html' %}
    </div>
  </section>
  </body>
</html>